html, body {
    margin: 0px;
    padding: 0px;
    width: 100%; 
    background-color: lightblue;
  }
  
#banner {
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 40px;
    border-style: hidden;
    border-width: 5px;
    border-radius: 5px;
    background-color: gray;
    background-image: url('Designer.jpeg');
    background-size: cover; /* This ensures the image covers the entire banner */
    background-position: center; /* This centers the image within the banner */

  }

#navigationBar {
list-style-type: none;
justify-content: center;
display: flex;
margin: 0px 0px 20px 0px;
padding: 20;
overflow: hidden;
background-color:   black;
}

#navigationBar li {
margin: 0px 50px;
float: left;
background-color: gray;
}

#navigationBar li a {
display: block;
color: white;
text-align: center;
padding: 20px 50px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navigationBar li a:hover {
background-color:   lightgray;
}

.main{
    display: flex;
    border: 1px, solid, green;
    height:100%;
    margin: 20, 20, 0, 0;
    width: auto;
}